# Pelatihan Kemenlu
Tanggal: 02 Oktober 2025
<br>Tempat: Grand Savero Hotel, Bogor

* Basic I/O

In [1]:
print("Hello World!")

Hello World!

In [2]:
a = input("Nama saya: ")

Nama saya:  nico

In [3]:
print("Halo! Nama saya: {}".format(a))

Halo! Nama saya: nico

* Arithmetics

In [4]:
x = 10
y = 5

In [5]:
x + y

15

In [6]:
x * y

50

In [8]:
x ** y # 10 pangkat 5

100000

In [7]:
x / y

2.0

In [9]:
19 / 3

6.333333333333333

In [10]:
19 % 3 # sisa hasil bagi (modulus)

1

In [11]:
a = 32
b = 5

In [12]:
print("a dibagi b = {}, sisa = {}".format(a//b, a%b))

a dibagi b = 6, sisa = 2

### Selection & Repetition

In [21]:
age = int(input("masukkan umur: "))
gender = input("gender: ")

if age <= 1:
    print("bayi")
elif age >= 1 and age < 13:
    print("di bawah umur")
    if gender == "f":
        print("perempuan")
    else:
        print("laki-laki")
elif age < 20:
    print("remaja")
else:
    print("dewasa")

masukkan umur:  12
gender:  f

di bawah umur
perempuan

In [30]:
for i in range(10, 0, -1):
    if i % 2 == 0:
        print(i, " hore!")
    else:
        print(i)

10  hore!
9
8  hore!
7
6  hore!
5
4  hore!
3
2  hore!
1

In [33]:
count = 0
while count < 3:
    print(count)
    count += 1

0
1
2

* List Comprehension

In [41]:
x = [i for i in range(10, 0, -1) if i % 2 == 0]

In [42]:
for i in x:
    print(i)

10
8
6
4
2

In [61]:
a = {
    "nama" : ["a", "b", "c"],
    "usia" : [30, "76", 27],
    "alamat" : ["jakarta", "bandung", "bali"]
}

In [62]:
a.keys()

dict_keys(['nama', 'usia', 'alamat'])

In [63]:
a.values()

dict_values([['a', 'b', 'c'], [30, '76', 27], ['jakarta', 'bandung', 'bali']])

In [66]:
for i, j in a.items():
    print(i)
    for k in j:
        print("- {} (tipe data = {})".format(k, type(k)))
    # print("\n")

nama
- a (tipe data = <class 'str'>)
- b (tipe data = <class 'str'>)
- c (tipe data = <class 'str'>)
usia
- 30 (tipe data = <class 'int'>)
- 76 (tipe data = <class 'str'>)
- 27 (tipe data = <class 'int'>)
alamat
- jakarta (tipe data = <class 'str'>)
- bandung (tipe data = <class 'str'>)
- bali (tipe data = <class 'str'>)

### Function

In [70]:
b = {
    "nama" : ["d", "e", "f"],
    "usia" : [31, 15, 27],
    "alamat" : ["medan", "bandung", "surabaya"]
}

In [68]:
def ekstrak_data(data):
    for i, j in data.items():
        print(i)
        for k in j:
            print("- {} (tipe data = {})".format(k, type(k)))
        # print("\n")

In [71]:
ekstrak_data(data = b)

nama
- d (tipe data = <class 'str'>)
- e (tipe data = <class 'str'>)
- f (tipe data = <class 'str'>)
usia
- 31 (tipe data = <class 'int'>)
- 15 (tipe data = <class 'int'>)
- 27 (tipe data = <class 'int'>)
alamat
- medan (tipe data = <class 'str'>)
- bandung (tipe data = <class 'str'>)
- surabaya (tipe data = <class 'str'>)